.body{

    background-color: #db0707f4;
    color:#555;
    font-size: 16px;
    font-weight: normal ;
    font-family:A    rial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;


}
.box-1 h1{
color: chartreuse;
font-family: tahoma;
font-weight: 800;
font-style: italic;
text-decoration: underline;
text-transform: capitalize;
letter-spacing: 4px;
word-spacing: 1cm;
}

.box-1 p{
color: #fff;
text-decoration: none;
font-size: medium;
font-style: normal;text-decoration-color: #fff;
}

a{
text-decoration: none;
color: black;
}

:hover{
color: red;
}

A:active{
color: aqua;
}

a:visited{
color: chartreuse;
} 

.clr{
    clear: both;
}

.button{
background-color: #333;
color: #fff;
padding: 10px 15px;
}

.button:hover{
background-color: red;
color: #f4f4f4f4;
}

.container{
width: 80%;
margin: auto;
}

.box-1{
background-color: #333;
color: #fff;

/* border-top: 5px red solid ;
border-right: 5px  red solid ;
border-left: 5px red solid ;
border-bottom: 5px red solid ;*/


border: 2px rgb(0, 255, 76) solid;

padding: 20px;

margin-top: 60px;

margin: 20px o;

}
.box-1 h1{
color: chartreuse;
font-family:Tahoma;
font-weight: 200;
font-style: italic;
text-decoration: underline;
text-transform: uppercase;
letter-spacing: 0.2em;
word-spacing: 1em;

}

.box-2{
border: 3px dotted #ccc ;
padding: 20px;
margin: 20px;

}

.categories{
border: 8px #ccc solid ;
padding: 40px;
border-radius: 15px;
}

.categories h2{
text-align: center;
}

.categories ul{
padding:0;
padding-left: 20px;
list-style:none ;

}

.categories li{
padding-bottom: 6px;
border-bottom: solid 1px #333;
list-style-image: url(verified_3106963.png)

}

.my-form{
padding: 20px;
}
.my-form .form-group{
padding-bottom: 15px;
}

.my-form label{
display: block;
}
.my-form input [type="text"], .my-form input[type="Email"]{
padding: 8px;
width: 100%;
}

.block{
    float: left;
    width: 33%;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
}

.block:hover{
    border: 1px solid #e0ae0a;
    background-color: #ccc;
}
#main-block{
 float: left;
 width: 65%;
}


#sidebar{
    float: right;
    width: 35%;
    background-color: #555;
    color: #e0d9d9;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar:hover{
border: #d64908;
background-color: #555;
color: #ccc;
}

.p-box{
    background-color: #555;
    height: 500px;
    width: 80px;
    color: #fff;
    border: 1px solid white;
    padding-top:  30px;
    position: relative;
    background-image: url(/);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover ;
}

.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    top: 200px;
    left: 400px ;

}
.fix-me{
    position: fixed;
    top:700px ;
    right: 0;
    border-radius: 50%;
    background-color: aqua;
    color: #333;
}

.my-list li:first-child{
background: #d64908;
}
.my-list li:nth-child(2){
    background: #c6db07f4;
}
.my-list li:nth-child(3){
    background: #d64908;
}
.my-list li:nth-child(4){
    background: #c6db07f4;
}
.my-list li:nth-child(5){
    background: #d64908;
}
.my-list li:nth-child(6){
    background: #c6db07f4;
}
.my-list li:nth-child(7){
    background: #d64908;
}
.my-list li:last-child{
    background: #c6db07f4;  
}


